/*
 * Styles for the experiment that supplement the native jspsych styling
 */


.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.bounding-div {
  width: 1200px;
}

#timer {
  position: fixed;
  top: 55px;
  left: 25px; 
}
